<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zhongbenshuo.zbspepper">

    <supports-screens android:xlargeScreens="true" />

    <!-- 设置网络等权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--修改音量设置 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--修改系统设置 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 前台Service权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 开机自启 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 避免Android8.0安装APK时提示解析安装包错误 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 卸载程序权限 -->
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <uses-feature android:name="com.softbank.hardware.pepper" />

    <application
        android:name=".ZBSPepperApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">

        <!-- 解决谷歌GooglePlay Services的bug，报错内容：java.lang.NoClassDefFoundError:failed resolution of :Lorg/apache/http/ProtocolVersion -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 适配全面屏，屏幕最大高宽比设置为2.4 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- 用于结合SharedPreferences使用的跨进程数据共享 -->
        <provider
            android:name=".contentprovider.SPContentProvider"
            android:authorities="com.zhongbenshuo.zbspepper"
            android:exported="false"
            android:process=":provider" />

        <!-- 引导页面 -->
        <activity
            android:name=".activity.LogoActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主页面 -->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="locale"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape" />

        <!-- 下载文件时在状态栏显示进度的服务 -->
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:persistent="true" />

        <receiver android:name=".broadcastreceiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>